# idea ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.swp
*.tmp

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
tool/kratos/kratos
tool/kratos-protoc/kratos-protoc
tool/kratos-gen-bts/kratos-gen-bts
tool/kratos-gen-mc/kratos-gen-mc
tool/kratos/kratos-protoc/kratos-protoc
tool/kratos/protobuf/protoc-gen-bm/protoc-gen-bm
tool/kratos/protobuf/protoc-gen-ecode/protoc-gen-ecode
tool/kratos/protobuf/protoc-gen-bswagger/protoc-gen-bswagger
