module {{.Name}}

go 1.13

require (
    github.com/bilibili/kratos master
    github.com/gogo/protobuf v1.2.1
   	github.com/golang/protobuf v1.3.2
   	golang.org/x/net v0.0.0-20190628185345-da137c7871d7
   	google.golang.org/grpc v1.22.0
)

