module {{.Name}}

go 1.12

require (
	github.com/gogo/protobuf v1.2.2-0.20190730201129-28a6bbf47e48
	github.com/golang/protobuf v1.3.2
	github.com/google/wire v0.3.0
	go-common v0.3.8
	golang.org/x/net v0.0.0-20190812203447-cdfb69ac37fc
	google.golang.org/genproto v0.0.0-20190708153700-3bdd9d9f5532
	google.golang.org/grpc v1.22.0
)

replace go-common => git.bilibili.co/platform/go-common v0.3.8
